backend/flows.json
[
  { "id": "797ace5d1d6e8c17", "type": "tab", "label": "TodoDashboard", "disabled": false, "info": "", "env": [] },
  {
    "id": "c4438d8cb3defd8d",
    "type": "telegram bot",
    "botname": "PythonHelper",
    "usernames": "",
    "chatids": "",
    "baseapiurl": "",
    "updatemode": "polling",
    "pollinterval": "300",
    "usesocks": false,
    "sockshost": "",
    "socksprotocol": "socks5",
    "socksport": "6667",
    "socksusername": "anonymous",
    "sockspassword": "",
    "bothost": "",
    "botpath": "",
    "localbotport": "8443",
    "publicbotport": "8443",
    "privatekey": "",
    "certificate": "",
    "useselfsignedcertificate": false,
    "sslterminated": false,
    "verboselogging": false
  },
  { "id": "ead8f482583fa9c1", "type": "websocket-listener", "path": "/ws", "wholemsg": "false" },
  {
    "id": "54441e33bfc3d1a4",
    "type": "telegram command",
    "z": "797ace5d1d6e8c17",
    "name": "",
    "command": "/todo",
    "description": "",
    "registercommand": false,
    "language": "",
    "scope": "default",
    "bot": "c4438d8cb3defd8d",
    "strict": false,
    "hasresponse": true,
    "useregex": false,
    "removeregexcommand": false,
    "outputs": 2,
    "x": 910,
    "y": 900,
    "wires": [["37727c471fcef922", "0f4636d1aea5b171"], []]
  },
  { "id": "655d441aea147177", "type": "telegram sender", "z": "797ace5d1d6e8c17", "name": "", "bot": "c4438d8cb3defd8d", "haserroroutput": false, "outputs": 1, "x": 1270, "y": 980, "wires": [[]] },
  {
    "id": "37727c471fcef922",
    "type": "function",
    "z": "797ace5d1d6e8c17",
    "name": "Create Reply",
    "func": "msg.payload.content = \"Todo hinzugefügt!\"\n\nreturn [msg];",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1070,
    "y": 920,
    "wires": [["655d441aea147177"]]
  },
  {
    "id": "f0342514acb88e80",
    "type": "file",
    "z": "797ace5d1d6e8c17",
    "name": "SaveToTodoTxt",
    "filename": "todo.txt",
    "filenameType": "str",
    "appendNewline": true,
    "createDir": false,
    "overwriteFile": "false",
    "encoding": "none",
    "x": 1500,
    "y": 780,
    "wires": [["23f6ed6edbbfb91e"]]
  },
  {
    "id": "0f4636d1aea5b171",
    "type": "function",
    "z": "797ace5d1d6e8c17",
    "name": "TransformPayloadForSaving",
    "func": "\n\nmsg.payload = {\n    done:0,\n    todo:msg.payload.content,\n    timestamp: Date.now()\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1120,
    "y": 860,
    "wires": [["937c2e7233c234aa"]]
  },
  {
    "id": "292912ea2b567fca",
    "type": "http in",
    "z": "797ace5d1d6e8c17",
    "name": "",
    "url": "/todos",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 940,
    "y": 560,
    "wires": [["75ad91f39c810d46"]]
  },
  {
    "id": "75ad91f39c810d46",
    "type": "file in",
    "z": "797ace5d1d6e8c17",
    "name": "LoadFromTodoTxt",
    "filename": "todo.txt",
    "filenameType": "str",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "allProps": false,
    "x": 1130,
    "y": 600,
    "wires": [["d96b1b474d5b1779"]]
  },
  { "id": "19e7d52888be3ce1", "type": "http response", "z": "797ace5d1d6e8c17", "name": "SendOK", "statusCode": "200", "headers": {}, "x": 1700, "y": 640, "wires": [] },
  { "id": "c29f833509b5fa7a", "type": "json", "z": "797ace5d1d6e8c17", "name": "", "property": "payload", "action": "", "pretty": false, "x": 1550, "y": 600, "wires": [["19e7d52888be3ce1"]] },
  { "id": "937c2e7233c234aa", "type": "json", "z": "797ace5d1d6e8c17", "name": "", "property": "payload", "action": "", "pretty": false, "x": 1330, "y": 820, "wires": [["f0342514acb88e80"]] },
  {
    "id": "d96b1b474d5b1779",
    "type": "function",
    "z": "797ace5d1d6e8c17",
    "name": "Transform Json",
    "func": "msg.payload = msg.payload.replace(/\\n/g,\"\");\n\nmsg.payload = \"[\" + msg.payload.replace(/}/g,\"},\") + \"]\"\n\nmsg.payload = msg.payload.replace(\"},]\",\"}]\");\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1380,
    "y": 560,
    "wires": [["c29f833509b5fa7a"]]
  },
  {
    "id": "87e8db2293a2c80c",
    "type": "http in",
    "z": "797ace5d1d6e8c17",
    "name": "",
    "url": "/todos",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 110,
    "y": 800,
    "wires": [["08f9a610e9e6d087"]]
  },
  {
    "id": "08f9a610e9e6d087",
    "type": "function",
    "z": "797ace5d1d6e8c17",
    "name": "Store Timestamp",
    "func": "flow.set(\"timestamp\",msg.payload.timestamp);\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 310,
    "y": 840,
    "wires": [["47ba2c61c59b6063"]]
  },
  {
    "id": "47ba2c61c59b6063",
    "type": "file in",
    "z": "797ace5d1d6e8c17",
    "name": "LoadFromTodoTxt",
    "filename": "todo.txt",
    "filenameType": "str",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "allProps": false,
    "x": 530,
    "y": 880,
    "wires": [["6c14598bbc0c1b35"]]
  },
  {
    "id": "6c14598bbc0c1b35",
    "type": "function",
    "z": "797ace5d1d6e8c17",
    "name": "Transform Json",
    "func": "msg.payload = msg.payload.replace(/\\n/g,\"\");\n\nmsg.payload = \"[\" + msg.payload.replace(/}/g,\"},\") + \"]\"\n\nmsg.payload = msg.payload.replace(\"},]\",\"}]\");\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 740,
    "y": 840,
    "wires": [["790da39b0145add8"]]
  },
  {
    "id": "0a53edc475899372",
    "type": "function",
    "z": "797ace5d1d6e8c17",
    "name": "SetTodoDone",
    "func": "const timestamp = flow.get(\"timestamp\");\n\nmsg.payload.find(x => x.timestamp === timestamp).done = 1;\nmsg.payload = JSON.stringify(msg.payload)\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1080,
    "y": 760,
    "wires": [["6f202cf7d4227790"]]
  },
  { "id": "790da39b0145add8", "type": "json", "z": "797ace5d1d6e8c17", "name": "", "property": "payload", "action": "", "pretty": false, "x": 910, "y": 800, "wires": [["0a53edc475899372"]] },
  {
    "id": "e837ee64ec6b769d",
    "type": "file",
    "z": "797ace5d1d6e8c17",
    "name": "ReplaceTodoTxt",
    "filename": "todo.txt",
    "filenameType": "str",
    "appendNewline": true,
    "createDir": false,
    "overwriteFile": "true",
    "encoding": "none",
    "x": 1520,
    "y": 680,
    "wires": [["23f6ed6edbbfb91e", "19e7d52888be3ce1"]]
  },
  {
    "id": "6f202cf7d4227790",
    "type": "function",
    "z": "797ace5d1d6e8c17",
    "name": "TransformForSaving",
    "func": "msg.payload = msg.payload.replace(/},{/g,'}{')\nmsg.payload = msg.payload.replace(\"[\",\"\")\nmsg.payload = msg.payload.replace(\"]\",\"\")\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1300,
    "y": 720,
    "wires": [["e837ee64ec6b769d"]]
  },
  { "id": "23f6ed6edbbfb91e", "type": "websocket out", "z": "797ace5d1d6e8c17", "name": "SendTriggerToSocket", "server": "ead8f482583fa9c1", "client": "", "x": 1760, "y": 740, "wires": [] },
  {
    "id": "7958018c7e9f614c",
    "type": "http in",
    "z": "797ace5d1d6e8c17",
    "name": "",
    "url": "/todos",
    "method": "put",
    "upload": false,
    "swaggerDoc": "",
    "x": 120,
    "y": 640,
    "wires": [["915524476298b7e9"]]
  },
  {
    "id": "915524476298b7e9",
    "type": "function",
    "z": "797ace5d1d6e8c17",
    "name": "Store Timestamp",
    "func": "flow.set(\"timestamp\",msg.payload.timestamp);\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 310,
    "y": 680,
    "wires": [["f19aa011a690e49c"]]
  },
  {
    "id": "f19aa011a690e49c",
    "type": "file in",
    "z": "797ace5d1d6e8c17",
    "name": "LoadFromTodoTxt",
    "filename": "todo.txt",
    "filenameType": "str",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "allProps": false,
    "x": 530,
    "y": 640,
    "wires": [["94fd2cd884a32d17"]]
  },
  {
    "id": "94fd2cd884a32d17",
    "type": "function",
    "z": "797ace5d1d6e8c17",
    "name": "Transform Json",
    "func": "msg.payload = msg.payload.replace(/\\n/g,\"\");\n\nmsg.payload = \"[\" + msg.payload.replace(/}/g,\"},\") + \"]\"\n\nmsg.payload = msg.payload.replace(\"},]\",\"}]\");\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 740,
    "y": 680,
    "wires": [["b2b115a5fb1ed862"]]
  },
  { "id": "b2b115a5fb1ed862", "type": "json", "z": "797ace5d1d6e8c17", "name": "", "property": "payload", "action": "", "pretty": false, "x": 910, "y": 640, "wires": [["30ecd2b72e961b8b"]] },
  {
    "id": "30ecd2b72e961b8b",
    "type": "function",
    "z": "797ace5d1d6e8c17",
    "name": "SetTodoOpen",
    "func": "const timestamp = flow.get(\"timestamp\");\n\nmsg.payload.find(x => x.timestamp === timestamp).done = 0;\nmsg.payload = JSON.stringify(msg.payload)\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1080,
    "y": 680,
    "wires": [["6f202cf7d4227790"]]
  }
]
